body{
    background-color: black;
};

#title{
    color: green;
}

#container{
    margin: 0;
    width: 600px;
}
p{
    color: green;
}

textarea{
    border: 1px solid green;
    display: block;
    margin: 0 0 10px 0;
    overflow: auto;
    padding: 5px;
    width: 500px;
    background-color: black;
    color: green;
}

input[type='button']{
    background-color: black;
    color: green;
    margin: 0 auto;

}

